.flex-container {
    display: flex;
    justify-content: center;
}

#connectButton {
    margin-bottom: 2em;
}

.btn {
    margin: 5px;
}

.left-right {
    display: flex;
    justify-content: flex-end;
}

.forward-backward {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sliderContainer {
    margin-top: 40vh;
    height: 30vh;
}

.vert {
    -webkit-appearance: slider-vertical;
}